{% extends "base.html" %}

{% block content %}


<form method="get" action="{{ url_for('congress.index') }}">


    <div class="searching-container">
        <h1 class="search-title">{{_('Search the congressmen')}}</h1>

        <h3>{{_('By name')}}</h3>
        <input type="text" name="name_q" value="{{ name_q or '' }}" placeholder="{{_('Write a congressperson name')}}">
        
    </div>

    <div class="searching-container">
        <h3>{{_('By party')}}</h3>
        <input type="text" name="party_q" value="{{party_q or '' }}"  placeholder="{{_('Write a congressperson party')}}">

    </div>    


     <div class="searching-container">
        <h3>{{_('By region')}}</h3>
        <input type="text" name="region_q" value="{{region_q or '' }}"  placeholder="{{_('Write a congressperson region')}}">

    </div>


    <button type="submit">{{_('Search')}}</button>
</form>



 {% if congresistas %}
        <ul>
            {% for congresista in congresistas %}
                <li>
                    <a href="{{ url_for('congress.congress_detail', congresista_id=congresista.id) }}">
                        {{ congresista.id }} - {{ congresista.full_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% elif name_q or party_q or region_q %}
        <p>{{_('No matching congresspeople found.')}}</p>
    {% endif %}



{% endblock %}

