SHELL=/bin/sh
PATH=/usr/local/bin:/usr/bin:/bin
CRON_TZ=America/Lima

0 0 * * * /app/docker/cron/run-job.sh scrape-others
0 1 * * * /app/docker/cron/run-job.sh scrape-bills
0 2 * * * /app/docker/cron/run-job.sh scrape-motions
0 4 * * * /app/docker/cron/run-job.sh scrape-leyes
0 4 * * * /app/docker/cron/run-job.sh scrape-documents
0 7 * * * /app/docker/cron/run-job.sh process
50 17 * * * /app/docker/cron/run-job.sh process-bill-documents
05 22 * * * /app/docker/cron/run-job.sh backfill-bancadas-bills
05 22 * * * /app/docker/cron/run-job.sh backfill-bancadas-motions