{% extends "base.html" %}

{% block content %}

<div class="bill-header">
  <h1>{{_('Title')}}: {{ bill.title }}</h1>
  <div class="bill-meta">
    {% if latest_step %}
        <p><strong>{{_('Step')}}:</strong> {{ latest_step.step_type.value }}</p>
    {% endif %}
    <p><strong>{{_('Summary')}}:</strong> {{ bill.summary }}</p>

  </div>
</div>

<div class="timeline-container">
  <div class="timeline">
    {% if all_steps %}
      {% for step in all_steps %}
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
              <div class="timeline-type">{{ step.step_date.strftime('%Y-%m-%d') }} - {{ step.step_type.value }}</div>
            {% if step.vote_step and step.vote_event_id %}
              <a href = "/bills/{{bill.id}}/mock_votes">{{_('View details')}}</a>
              <!-- real data -->
              <!-- <a href="/bills/{{ bill.id }}/vote/{{ step.vote_event_id }}">View details</a> -->
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}

