{% extends "base.html" %}

{% block content %}

<div class="bill-header">
  <h1>Title: {{ bill.title }}</h1>
  <div class="bill-meta">
    {% if latest_step %}
        <p><strong>Step:</strong> {{ latest_step.step_type }}</p>
    {% endif %}
    <p><strong>Status:</strong> {{ bill.status }}</p>

  </div>
</div>

<div class="timeline-container">
  <div class="timeline">
    {% if all_steps %}
      {% for step in all_steps %}
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
              <div class="timeline-type">{{ step.step_type }}</div>
            {% if step.vote_step and step.vote_event_id %}
              <a href="/vote/{{ step.vote_event_id }}">View details</a>
            {% endif %}
            <a href="{{ url_for('bills.bill_difference', bill_id=bill.id, step_id=step.id) }}">View changes</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}

