{% extends "base.html" %}

{% block content %}
<form class="bill-search-form" method="get" action="{{ url_for('bills.index') }}">
    <h1 class="search-title">{{_('Search the bill by:')}}</h1>
    <div class="bar-search">
        <div class="searching-container">
            <input type="text" name="title_q" value="{{ title_q or '' }}" placeholder="{{_('Title')}}">
        </div>

        <div class="searching-container">
            <input type="text" name="author_q" value="{{ author_q or '' }}" placeholder="{{_('Author')}}">
        </div>

        <button type="submit" class="search-icon-button" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</form>


{% if bills %}
    <div class = "search-criteria">
        <h3>{{_('Search Criteria')}}</h3>
        {% if title_q %}
            <span>{{_('Title')}}: {{title_q}}</span>
        {% endif %}
        {% if author_display %}
            <span>{{_('Author')}}: {{author_display}}</span>
        {% endif %}
    </div>

    <ul>
        {% for bill in bills %}
            <li>
                <a href="{{ url_for('bills.bill_detail', bill_id=bill.id) }}">
                    {{ bill.id }} - {{ bill.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% elif title_q or author_q %}
    <p>{{_('No matching bills found.')}}</p>
{% endif %}

{% endblock %}

