<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Congress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="nav-brand" href="{{ url_for('landing.index') }}">
            <img class="nav-isotipo" src="{{ url_for('static', filename='images/home2.svg') }}" alt="Open Congress">
        </a>


        
        <!-- Hamburger -->
        <a href="#menu" class="menu-toggle">☰</a>

        <!--<label for="menu-toggle" class="menu-toggle">Menu</label>-->

            <div class="btn-group" role="group">
                <a href="{{ url_for('i18n.set_lang', lang='en') }}">English</a>
                <a href="{{ url_for('i18n.set_lang', lang='es') }}">Español</a>
            </div>
         
         <ul class="nav-links" id="menu">
            <li class="menu-close">
            <a href="#">X</a>
            </li>

            <li><a href="/#about">{{_('About')}}</a></li>
            <li><a href="{{ url_for('bills.index') }}">{{_('Bills')}}</a></li>
            <li><a href="/congress">{{_('Congressmen')}}</a></li>
            <li><a href="#data">{{_('Data')}}</a></li>

         </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container footer-row">
            <ul class="footer-links">
                <li><a href="#">{{_('About')}}</a></li>
                <li><a href="#">{{_('Terms of Service')}}</a></li>
                <li><a href="#">{{_('Privacy')}}</a></li>
                <li><a href="#">{{_('Contact')}}</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
