<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Congress</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <nav class="site-navbar">
        <!-- 
        <a class="nav-brand" href="{{ url_for('landing.index') }}">
            <img class="nav-isotipo" src="{{ url_for('static', filename='images/Isotipo.svg') }}" alt="Open Congress">
        </a>
        -->

        
        <!-- Hamburger -->
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="menu-toggle">☰</label>

        <!--<label for="menu-toggle" class="menu-toggle">Menu</label>-->


         <ul class="nav-links" id="menu">
            <li class="menu-close">
                <label for="nav-toggle">X</label>
            <a href="#">X</a>
            </li>
            <li><a href="/">{{_('Home')}}</a></li>
            <li><a href="/#about">{{_('About')}}</a></li>
            <li><a href="{{ url_for('bills.index') }}">{{_('Bills')}}</a></li>
            <li><a href="/congress">{{_('Congressmen')}}</a></li>
            <!--<li><a href="#data">{{_('Data')}}</a></li> -->

         </ul>


        <div class="language-links" role="group" aria-label="Language">
            <a href="{{ url_for('i18n.set_lang', lang='en') }}">English</a>
            <a href="{{ url_for('i18n.set_lang', lang='es') }}">Español</a>
        </div>
         
    </nav>

    <div class="header-divider" aria-hidden="true"></div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container footer-row">
            <ul class="footer-links">
                <li><a href="#">{{_('About')}}</a></li>
                <li><a href="#">{{_('Terms of Service')}}</a></li>
                <li><a href="#">{{_('Privacy')}}</a></li>
                <li><a href="#">{{_('Contact')}}</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
